doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href='/vendor/bootstrap/dist/css/bootstrap.min.css')
    script(src='/vendor/jquery/dist/jquery.min.js')
    script(src='/vendor/bootstrap/dist/js/bootstrap.min.js')
    script(src='/vendor/socket.io-client/socket.io.js')
    script(src='/javascripts/scripts.js')

  body
    block content
